In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Tratamento 
### (Variação PiB da América do Sul)

In [79]:
data = pd.read_csv('raw_data/america_latina/PIB_Variação_AmericaLatina.csv')
data.set_index('Country', inplace=True)
all_countries = data.index

In [80]:
data.head(1)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,1980,1981,1982,1983,1984,1985,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,"Gross domestic product, constant prices",Percent change,NaN,"See notes for: Gross domestic product, consta...",0.7,-5.744,-3.149,3.733,2.0,-6.951,...,-2.513,2.731,-2.08,2.819,-2.565,-2.088,-9.956,5.839,2.475,2019

In [81]:
data.drop(data.columns[[0, 1, 2, 3, data.shape[1] -1]], axis=1, inplace = True)

In [82]:
data.head(1)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,0.7,-5.744,-3.149,3.733,2.0,-6.951,7.146,2.529,-1.957,-7.007,...,2.405,-2.513,2.731,-2.08,2.819,-2.565,-2.088,-9.956,5.839,2.475

In [83]:
data.dropna(inplace=True)

In [84]:
used_countries = data.index

In [85]:
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_america_latina/PIB_Variação_AmericaLatina/Retired_countries_PIB_Variação_AmericaLatina")
retired_countries.to_excel("data_finish_america_latina/PIB_Variação_AmericaLatina/Retired_countries_PIB_Variação_AmericaLatina.xlsx", sheet_name='Sheet')

In [86]:
data.columns = data.columns.astype(int)

In [87]:
data = data.replace('[^\d.]', '', regex=True).astype(float).copy()

In [88]:
data.tail(5)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Panama,4.500,9.207,5.348,-4.491,2.709,4.942,3.568,-1.809,-13.380,1.562,...,6.903,5.067,5.733,4.953,5.591,3.598,3.040,-17.949,12.045,5.000
Paraguay,11.712,9.170,-1.398,-3.043,2.817,3.872,0.263,4.072,5.881,5.817,...,8.417,4.861,3.080,4.313,4.954,3.356,-0.030,-0.900,4.000,4.000
Peru,7.661,5.461,-0.324,-9.329,3.801,2.089,12.106,7.738,-9.422,-13.422,...,5.837,2.394,3.274,4.363,2.125,3.963,2.226,-11.115,8.498,5.159
Uruguay,5.975,1.900,-9.340,-3.281,-1.092,1.475,8.857,7.933,1.467,1.104,...,4.638,3.239,0.371,1.690,1.628,0.478,0.331,-5.700,3.000,3.100
Venezuela,-4.947,-1.288,2.645,-9.856,5.223,0.867,6.080,4.801,6.510,-13.920,...,1.343,-3.894,-6.221,-17.040,-15.671,-19.621,-35.000,-30.000,-10.000,-5.000

In [89]:
data.to_csv("data_finish_america_latina/PIB_Variação_AmericaLatina/PIB_Variação_AmericaLatina")
data.to_excel("data_finish_america_latina/PIB_Variação_AmericaLatina/PIB_Variação_AmericaLatina.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_america_latina/PIB_Variação_AmericaLatina/PIB_Variação_AmericaLatina_transpose")
data.to_excel("data_finish_america_latina/PIB_Variação_AmericaLatina/PIB_Variação_AmericaLatina_transpose.xlsx", sheet_name='Sheet')

# Tratamento 
### (PiB nominalda América do Sul)

In [67]:
#raw_data\america_latina
#PIB_Nominal_AméricaLatina

In [68]:
data = pd.read_csv('raw_data/america_latina/PIB_Nominal_AméricaLatina.csv')
data.set_index('Country', inplace=True)
all_countries = data.index

In [69]:
data.head(2)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,1980,1981,1982,1983,1984,1985,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",233.696,189.802,94.250,116.267,130.544,98.599,...,563.614,642.464,556.774,643.861,517.244,444.458,388.279,418.15,434.809,2019
Bolivia,"Gross domestic product, current prices",U.S. dollars,Billions,"See notes for: Gross domestic product, curren...",3.589,3.440,3.813,3.609,3.752,4.059,...,33.237,33.241,34.189,37.782,40.581,41.193,39.381,43.11,46.546,2019

In [70]:
data.drop(data.columns[[0, 1, 2, 3, data.shape[1] - 1]], axis=1, inplace = True)

In [71]:
data.dropna(inplace=True)

In [72]:
used_countries = data.index

In [73]:
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_america_latina/PIB_Nominal_AméricaLatina/Retired_countries_PIB_Nominal_AméricaLatina")
retired_countries.to_excel("data_finish_america_latina/PIB_Nominal_AméricaLatina/Retired_countries_PIB_Nominal_AméricaLatina.xlsx", sheet_name='Sheet')

In [74]:
data.columns = data.columns.astype(int)

In [75]:
data = data.replace('[^\d.]', '', regex=True).astype(float).copy()

In [76]:
data.tail(3)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Peru,20.190,24.398,24.259,18.863,19.442,16.823,25.241,41.681,32.978,40.699,...,202.091,202.308,191.316,194.950,214.061,225.141,230.746,203.772,225.918,240.911
Uruguay,12.165,13.578,11.100,6.093,5.794,5.662,7.029,8.794,9.098,9.589,...,62.499,62.178,57.874,57.237,64.234,64.765,62.212,55.711,55.459,58.497
Venezuela,69.841,78.367,79.998,79.672,57.826,59.865,60.877,46.854,60.378,44.672,...,258.993,203.822,323.595,279.249,143.841,98.400,63.960,47.255,42.530,40.403

In [77]:
data.to_csv("data_finish_america_latina/PIB_Nominal_AméricaLatina/PIB_Nominal_AméricaLatina")
data.to_excel("data_finish_america_latina/PIB_Nominal_AméricaLatina/PIB_Nominal_AméricaLatina.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_america_latina/PIB_Nominal_AméricaLatina/PIB_Nominal_AméricaLatina_transpose")
data.to_excel("data_finish_america_latina/PIB_Nominal_AméricaLatina/PIB_Nominal_AméricaLatina_transpose.xlsx", sheet_name='Sheet')

# Tratamento 
### (PiB Per Capita Dollares América do Sul)

In [90]:
#PIB_per_capita_dollares_correntes

In [91]:
data = pd.read_csv('raw_data/america_latina/PIB_per_capita_dollares_correntes.csv')
data.set_index('Country', inplace=True)
all_countries = data.index

In [92]:
data.head(1)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,1980,1981,1982,1983,1984,1985,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...","8,361.21","6,671.43","3,257.85","3,962.74","4,374.78","3,248.75",...,"13,208.83","14,895.32","12,772.87","14,618.33","11,624.89","9,890.31","8,554.64","9,121.56","9,391.04",2019

In [93]:
data.drop(data.columns[[0, 1, 2, 3, data.shape[1] - 1]], axis=1, inplace = True)

In [94]:
data.dropna(inplace=True)

In [95]:
used_countries = data.index

In [96]:
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_america_latina/PIB_per_capita_dollares_correntes/Retired_countries_PIB_per_capita_dollares_correntes")
retired_countries.to_excel("data_finish_america_latina/PIB_per_capita_dollares_correntes/Retired_countries_PIB_per_capita_dollares_correntes.xlsx", sheet_name='Sheet')

In [97]:
data.columns = data.columns.astype(int)

In [98]:
data = data.replace('[^\d.]', '', regex=True).astype(float).copy()

In [99]:
data.tail(2)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Uruguay,4139.90,4588.98,3727.41,2032.97,1920.90,1865.11,2302.54,2864.70,2946.36,3088.01,...,18167.35,18003.22,16692.65,16446.23,18388.31,18472.83,17681.21,15777.96,15653.11,16455.23
Venezuela,4671.08,5085.58,5041.59,4883.23,3447.45,3472.19,3488.56,2619.24,3292.79,2378.16,...,8695.04,6747.67,10568.10,9092.02,4725.05,3404.43,2299.31,1690.66,1541.70,1501.02

In [100]:
data.to_csv("data_finish_america_latina/PIB_per_capita_dollares_correntes/PIB_per_capita_dollares_correntes")
data.to_excel("data_finish_america_latina/PIB_per_capita_dollares_correntes/PIB_per_capita_dollares_correntes.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_america_latina/PIB_per_capita_dollares_correntes/PIB_per_capita_dollares_correntes_transpose")
data.to_excel("data_finish_america_latina/PIB_per_capita_dollares_correntes/PIB_per_capita_dollares_correntes_transpose.xlsx", sheet_name='Sheet')

# Tratamento 
### (PiB Per Capita Dollares América do Sul)

In [117]:
#PIB_baseado_no_PPP_AméricaLatina

In [118]:
data = pd.read_csv('raw_data/america_latina/PIB_baseado_no_PPP_AméricaLatina.csv')
data.set_index('Country', inplace=True)
all_countries = data.index

In [119]:
data.head(1)

,Subject Descriptor,Units,Scale,Country/Series-specific Notes,1980,1981,1982,1983,1984,1985,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Argentina,Gross domestic product based on purchasing-pow...,Percent,NaN,"See notes for: Gross domestic product, curren...",1.291,1.196,1.156,1.171,1.144,1.028,...,0.771,0.779,0.766,0.854,0.804,0.767,0.715,0.715,0.702,2019

In [120]:
data.drop(data.columns[[0, 1, 2, 3, data.shape[1] - 1]], axis=1, inplace = True)

In [121]:
data.dropna(inplace=True)

In [122]:
used_countries = data.index

In [123]:
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_america_latina/PIB_baseado_no_PPP_AméricaLatina/Retired_countries_PIB_baseado_no_PPP_AméricaLatina")
retired_countries.to_excel("data_finish_america_latina/PIB_baseado_no_PPP_AméricaLatina/Retired_countries_PIB_baseado_no_PPP_AméricaLatina.xlsx", sheet_name='Sheet')

In [124]:
data.columns = data.columns.astype(int)

In [125]:
data = data.replace('[^\d.]', '', regex=True).astype(float).copy()

In [126]:
data.tail(2)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Peru,0.403,0.418,0.416,0.368,0.366,0.361,0.391,0.405,0.351,0.293,...,0.322,0.320,0.319,0.327,0.328,0.329,0.328,0.302,0.309,0.312
Uruguay,0.102,0.102,0.092,0.087,0.082,0.081,0.085,0.088,0.086,0.084,...,0.067,0.068,0.067,0.067,0.065,0.063,0.062,0.060,0.059,0.058

In [127]:
data.to_csv("data_finish_america_latina/PIB_baseado_no_PPP_AméricaLatina/PIB_baseado_no_PPP_AméricaLatina")
data.to_excel("data_finish_america_latina/PIB_baseado_no_PPP_AméricaLatina/PIB_baseado_no_PPP_AméricaLatina.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_america_latina/PIB_baseado_no_PPP_AméricaLatina/PIB_baseado_no_PPP_AméricaLatina_transpose")
data.to_excel("data_finish_america_latina/PIB_baseado_no_PPP_AméricaLatina/PIB_baseado_no_PPP_AméricaLatina_transpose.xlsx", sheet_name='Sheet')