In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
#!pip install plotly
#!pip install cufflinks

# Tratamento 
### (PiB Per Capita da África)

In [3]:
data = pd.read_csv('raw_data/africa/pib_percapita.csv')
data.set_index('Country', inplace=True)
all_countries = data.index

In [4]:
data.drop(data.columns[[0, 1, 2, 3, data.shape[1] -1]], axis=1, inplace = True)

In [5]:
data.dropna(inplace=True)

In [6]:
used_countries = data.index

###### Países com valores faltantes

In [37]:
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_africa/pib_percapita/Retired_countries_pib_percapita")
retired_countries.to_excel("data_finish_africa/pib_percapita/Retired_countries_pib_percapita.xlsx", sheet_name='Sheet')

In [7]:
data.columns = data.columns.astype(int)

In [8]:
data = data.replace('[^\d.]', '', regex=True).astype(float).copy()

In [34]:
data = data.transpose()

In [35]:
data.tail(5)

Country,Algeria,Angola,Benin,Botswana,Burkina Faso,Cameroon,Central African Republic,Chad,Democratic Republic of the Congo,Republic of Congo,...,Niger,Senegal,Sierra Leone,South Africa,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia
2018,4118.74,3620.59,1240.84,8290.26,820.533,1535.19,488.563,713.034,553.329,3007.47,...,572.564,1458.73,533.972,6353.85,854.872,1036.93,902.150,3442.69,878.220,1480.420
2019,3939.54,2974.13,1218.28,7979.01,774.873,1501.87,479.846,685.677,573.513,2745.80,...,553.905,1430.21,527.026,5977.95,776.549,1079.68,893.180,3324.13,948.891,1272.240
2020,3262.58,2012.15,1250.87,6780.72,790.968,1469.91,489.869,653.980,540.534,2185.58,...,565.867,1459.51,526.514,5067.15,775.043,1090.39,904.675,3322.93,912.442,981.311
2021,3363.97,2080.35,1387.60,7816.98,876.031,1649.01,552.343,740.829,587.596,2505.11,...,632.633,1622.02,541.873,5443.94,787.443,1103.61,1016.130,3683.08,971.983,974.271
2022,3278.13,2081.71,1484.41,8233.76,928.709,1722.37,590.847,762.001,600.927,2514.05,...,710.329,1724.58,533.433,5599.90,769.398,1139.13,1075.950,3835.96,1025.060,952.125

In [3]:
#sns.jointplot(data=data, x=data.index, y='Democratic Republic of the Congo')

In [40]:
data.to_csv("data_finish_africa/pib_percapita/Pib_percapita")
data.to_excel("data_finish_africa/pib_percapita/Pib_percapita.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_africa/pib_percapita/Pib_percapita_transpose")
data.to_excel("data_finish_africa/pib_percapita/Pib_percapita_transpose.xlsx", sheet_name='Sheet')

In [2]:
#data.transpose().head(2).sum()

In [1]:
#for i in data.columns:
#    fig = plt.figure()
#    axes1 = fig.add_axes([0.1, 0.1, 0.8,0.8])
#    axes2 = fig.add_axes([0.2, 0.5, 0.3,0.3])
#    axes1.set_title(i)
#    axes2.set_title('África')
#    axes2.plot(data.index, data.transpose().sum())
#    axes1.plot(data.index, data[i])

# Tratamento
### (Variação PiB da África)

In [70]:
data = pd.read_csv('raw_data/africa/variacao_pib.csv')

In [71]:
data.set_index('Country', inplace=True)

In [72]:
all_countries = data.index

In [73]:
data.shape

(40, 47)

In [74]:
data.head(1)

,Subject Descriptor,Units,Scale,1980,1981,1982,1983,1984,1985,1986,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,"Gross domestic product, constant prices",Percent change,NaN,-5.4,3,6.4,5.4,5.6,5.6,-0.2,...,3.8,3.7,3.2,1.3,1.2,0.8,-5.992,2.864,2.75,2019

In [75]:
data.replace('--', np.nan,inplace=True)
data.drop(data.columns[[0, 1, 2, data.shape[1] -1]], axis=1, inplace = True)
data.dropna(inplace=True)

###### Países com valores faltantes

In [76]:
sed_countries = data.index
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_africa/variacao_pib/Retired_countries_variacao_pib")
retired_countries.to_excel("data_finish_africa/variacao_pib/Retired_countries_variacao_pib.xlsx", sheet_name='Sheet')

In [77]:
data.columns = data.columns.astype(int)

In [78]:
data = data.astype(float).copy()

In [79]:
data.to_csv("data_finish_africa/variacao_pib/Variacao_pib")
data.to_excel("data_finish_africa/variacao_pib/Variacao_pib.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_africa/variacao_pib/Variacao_pib_transpose")
data.to_excel("data_finish_africa/variacao_pib/Variacao_pib_transpose.xlsx", sheet_name='Sheet')

# Tratamento 
### (Paridade Poder De Compra)

In [19]:
data = pd.read_csv('raw_data/africa/paridade_poder_de_compra.csv')

In [20]:
data.set_index('Country', inplace=True)

In [21]:
all_countries = data.index

In [22]:
data.shape

(80, 47)

In [23]:
data.head(2)

,Subject Descriptor,Units,Scale,1980,1981,1982,1983,1984,1985,1986,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,"Gross domestic product, current prices",U.S. dollars,Billions,42.346,44.372,44.78,47.529,51.513,61.132,61.535,...,213.81,165.979,160.034,170.207,175.367,171.07,144.294,151.459,150.135,2019
Algeria,"Gross domestic product per capita, current prices",Purchasing power parity; international dollars,Units,"4,813.29","5,263.19","5,761.06","6,109.43","6,476.33","6,729.56","6,671.01",...,"12,940.00","11,944.99","11,543.30","11,644.06","11,823.84","11,894.86","11,112.19","11,432.75","11,809.72",2019

In [24]:
data.drop(data.columns[[0, 1, 2, data.shape[1] -1]], axis=1, inplace = True)

In [25]:
data.head(2)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,42.346,44.372,44.78,47.529,51.513,61.132,61.535,63.3,51.664,52.558,...,209.755,213.81,165.979,160.034,170.207,175.367,171.07,144.294,151.459,150.135
Algeria,"4,813.29","5,263.19","5,761.06","6,109.43","6,476.33","6,729.56","6,671.01","6,614.10","6,522.14","6,930.65",...,"13,003.31","12,940.00","11,944.99","11,543.30","11,644.06","11,823.84","11,894.86","11,112.19","11,432.75","11,809.72"

###### Países com valores faltantes

In [26]:
data.dropna(inplace=True)
used_countries = data.index
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_africa/paridade_poder_de_compra/Retired_countries_paridade_poder_de_compra")
retired_countries.to_excel("data_finish_africa/paridade_poder_de_compra/Retired_countries_paridade_poder_de_compra.xlsx", sheet_name='Sheet')

In [27]:
data.columns = data.columns.astype(int)
data = data.replace('[^\d.]', '', regex=True).astype(float).copy()

In [28]:
data.head(4)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.30,51.664,52.558,...,209.755,213.810,165.979,160.034,170.207,175.367,171.070,144.294,151.459,150.135
Algeria,4813.290,5263.190,5761.060,6109.430,6476.330,6729.560,6671.010,6614.10,6522.140,6930.650,...,13003.310,12940.000,11944.990,11543.300,11644.060,11823.840,11894.860,11112.190,11432.750,11809.720
Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.05,9.818,11.421,...,136.710,145.712,116.194,101.124,122.124,105.902,89.603,62.440,66.493,68.532
Angola,1223.560,1246.690,1289.600,1360.770,1455.970,1379.590,1407.950,1464.26,1566.380,1585.000,...,7948.020,8507.960,7668.510,7449.180,7681.960,7478.850,7346.300,6931.860,6878.130,6991.530

In [29]:
data_1 = data.iloc[::2,:]
data_2 = data.iloc[1::2,:]
data_1 = data_1.transpose()
data_2 = data_2.transpose()

In [30]:
data.to_csv("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra")
data.to_excel("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra.xlsx", sheet_name='Sheet')
data_1.to_csv("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra_1")
data_1.to_excel("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra_1.xlsx", sheet_name='Sheet')
data_2.to_csv("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra_2")
data_2.to_excel("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra_2.xlsx", sheet_name='Sheet')

In [31]:
data_1.head(1)

Country,Algeria,Angola,Benin,Botswana,Burkina Faso,Cameroon,Central African Republic,Chad,Democratic Republic of the Congo,Republic of Congo,...,Niger,Senegal,Sierra Leone,South Africa,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia
1980,42.346,6.639,2.302,1.175,2.386,8.193,0.714,0.738,68.606,2.165,...,703.952,1070.01,783.607,4642.23,1081.59,580.725,998.37,2134.38,526.047,1322.9

In [32]:
data_2.head(1)

Country,Algeria,Angola,Benin,Botswana,Burkina Faso,Cameroon,Central African Republic,Chad,Democratic Republic of the Congo,Republic of Congo,...,Niger,Senegal,Sierra Leone,South Africa,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia
1980,4813.29,1223.56,985.968,1892.66,376.154,1174.65,441.695,411.924,807.842,1928.42,...,3.531,4.338,1.701,82.981,9.095,10.873,1.994,9.566,7.486,4.246

In [33]:
data.to_csv("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra")
data.to_excel("data_finish_africa/paridade_poder_de_compra/Paridade_poder_de_compra.xlsx", sheet_name='Sheet')

# Tratamento 
### Pib Baseado no Poder de Compra

In [34]:
data = pd.read_csv('raw_data/africa/pib_baseado_poder_de_compra.csv')

In [35]:
data.set_index('Country', inplace=True)

In [36]:
all_countries = data.index

In [37]:
data.shape

(40, 47)

In [38]:
data.head(1)

,Subject Descriptor,Units,Scale,1980,1981,1982,1983,1984,1985,1986,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,Gross domestic product based on purchasing-pow...,Percent,NaN,0.671,0.68,0.722,0.743,0.752,0.767,0.739,...,0.464,0.429,0.408,0.399,0.39,0.383,0.373,0.363,0.357,2019

In [39]:
data.drop(data.columns[[0, 1, 2, data.shape[1] -1]], axis=1, inplace = True)

###### Países com valores faltantes

In [40]:
data.dropna(inplace=True)
used_countries = data.index
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_africa/pib_baseado_poder_de_compra/Retired_countries_pib_baseado_poder_de_compra")
retired_countries.to_excel("data_finish_africa/pib_baseado_poder_de_compra/Retired_countries_pib_baseado_poder_de_compra.xlsx", sheet_name='Sheet')

In [41]:
data.columns = data.columns.astype(int)

In [42]:
data = data.astype(float).copy()

In [43]:
data.head(3)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,0.671,0.680,0.722,0.743,0.752,0.767,0.739,0.707,0.664,0.671,...,0.474,0.464,0.429,0.408,0.399,0.390,0.383,0.373,0.363,0.357
Angola,0.081,0.077,0.076,0.078,0.079,0.079,0.078,0.079,0.080,0.077,...,0.190,0.202,0.184,0.177,0.179,0.170,0.164,0.163,0.155,0.152
Benin,0.027,0.027,0.027,0.026,0.025,0.025,0.025,0.024,0.023,0.022,...,0.025,0.027,0.027,0.028,0.028,0.029,0.030,0.032,0.031,0.032

In [44]:
data.to_csv("data_finish_africa/pib_baseado_poder_de_compra/Pib_baseado_poder_de_compra")
data.to_excel("data_finish_africa/pib_baseado_poder_de_compra/Pib_baseado_poder_de_compra.xlsx",
              sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_africa/pib_baseado_poder_de_compra/Pib_baseado_poder_de_compra_transpose")
data.to_excel("data_finish_africa/pib_baseado_poder_de_compra/Pib_baseado_poder_de_compra_transpose.xlsx",
              sheet_name='Sheet')

# Tratamento
### (Pib Nominal)

In [111]:
data = pd.read_csv('raw_data/africa/pib_nominal.csv')

In [112]:
data.set_index('Country', inplace=True)

In [113]:
all_countries = data.index

In [114]:
data.shape

(40, 46)

In [115]:
data.head(1)

,Units,Scale,1980,1981,1982,1983,1984,1985,1986,1987,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,U.S. dollars,Billions,42.346,44.372,44.78,47.529,51.513,61.132,61.535,63.3,...,213.81,165.979,160.034,170.207,175.367,171.07,144.294,151.459,150.135,2019

In [116]:
data.drop(data.columns[[0, 1, data.shape[1] -1]], axis=1, inplace = True)
data.dropna(inplace=True)

###### Países com valores faltantes

In [117]:
used_countries = data.index
retired_countries = {"Retired Countries": list(set(all_countries) - set(used_countries))}
retired_countries = pd.DataFrame(data=retired_countries)
retired_countries.to_csv("data_finish_africa/pib_nominal/Retired_countries_pib_nominal")
retired_countries.to_excel("data_finish_africa/pib_nominal/Retired_countries_pib_nominal.xlsx", sheet_name='Sheet')

In [118]:
data.columns = data.columns.astype(int)

In [119]:
data = data.astype(float).copy()

In [120]:
data.head(3)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Country,,,,,,,,,,,,,,,,,,,,,
Algeria,42.346,44.372,44.780,47.529,51.513,61.132,61.535,63.30,51.664,52.558,...,209.755,213.810,165.979,160.034,170.207,175.367,171.070,144.294,151.459,150.135
Angola,6.639,6.214,6.214,6.476,6.864,8.457,7.918,9.05,9.818,11.421,...,136.710,145.712,116.194,101.124,122.124,105.902,89.603,62.440,66.493,68.532
Benin,2.302,1.557,1.542,1.365,1.456,1.580,2.036,2.43,2.552,2.370,...,12.518,13.288,11.389,11.818,12.697,14.257,14.392,15.193,17.327,19.056

In [121]:
data.to_csv("data_finish_africa/pib_nominal/Pib_nominal")
data.to_excel("data_finish_africa/pib_nominal/Pib_nominal.xlsx", sheet_name='Sheet')
data = data.transpose()
data.to_csv("data_finish_africa/pib_nominal/Pib_nominal_transpose")
data.to_excel("data_finish_africa/pib_nominal/Pib_nominal_transpose.xlsx", sheet_name='Sheet')

In [110]:
data.head()

Country,Algeria,Angola,Benin,Botswana,Burkina Faso,Cameroon,Central African Republic,Chad,Democratic Republic of the Congo,Republic of Congo,...,Niger,Senegal,Sierra Leone,South Africa,Sudan,Tanzania,Togo,Tunisia,Uganda,Zambia
1982,44.780,6.214,1.542,1.095,1.934,8.901,0.719,0.844,64.939,1.548,...,2.840,3.850,2.050,78.415,4.748,14.932,1.396,8.900,8.410,4.232
1983,47.529,6.476,1.365,1.210,1.767,8.972,0.690,0.844,52.378,1.407,...,2.538,3.435,1.782,87.417,6.485,15.294,1.330,9.202,9.619,3.653
1984,51.513,6.864,1.456,1.201,1.579,9.482,0.670,0.907,34.951,1.294,...,2.056,3.350,2.062,77.315,7.992,13.915,1.222,9.054,7.399,3.003
1985,61.132,8.457,1.580,1.118,1.746,9.903,0.883,0.983,31.943,1.327,...,2.027,3.668,1.755,59.102,5.547,12.556,1.281,9.245,6.771,2.848
1986,61.535,7.918,2.036,1.516,2.290,12.909,1.158,1.211,35.840,1.815,...,2.680,5.188,1.314,67.562,7.400,15.874,1.795,9.910,6.746,1.962